.brand{
    background: #fff;
    padding: 68px 0;
    position: relative;
    z-index: 2;

    &__grid{
        display: grid;
        grid-template-columns: 219px 1fr;
        gap: 20px;
        align-items: center;
        margin-bottom: 30px;

        @media (max-width: 1024px){
            grid-template-columns: 1fr;
        }
    }

    &__desc{
        p{
            font-size: 16px;
            line-height: 140%;
            color: $second-color;
            margin-bottom: 16px;

            a{
                color: #D2170D;
                border-bottom: 1px solid #D2170D;
                transition: 0.2s;
            }

            &:last-child{
                margin-bottom: 0;
            }
        }
    }

    &__swiper{
        padding: 2px;
        position: relative;
        z-index: 2;
    }
}