// Base styles
input[type="range"] {
    -webkit-appearance: none;
    width: 100%;
    background: transparent;
    margin: 0px;
    border-radius: 100px;
    &:focus,
    &:active {
        outline: none;
    }

    &::-webkit-slider-thumb {
        -webkit-appearance: none;
        height: 22px;
        width: 22px;
        border-radius: 50%;
        background: $primary-color;
        cursor: pointer;
        margin-top: -9px;
        border-radius: 100px;
    }

    &::-webkit-slider-runnable-track {
        -webkit-appearance: none;
        height: 5px;
        background: #E6E6E6;
        border-radius: 100px;
    }
}

// Component style
.dual-range {
    height: 20px;
    width: 300px;
    position: relative;
    margin-top: 12px;

    &__fill,
    &__input {
        position: absolute;
        left: 0;
        top: 50%;
        transform: translateY(-50%);
        pointer-events: none;
        border-radius: 100px;
    }

    &__fill {
        height: 5px;
        width: 100%;
        border-radius: 100px;
        background: $primary-color;
    }

    &__input {

        &::-webkit-slider-thumb {
            pointer-events: all;
        }

        &:nth-child(2)::-webkit-slider-runnable-track {
            background-color: transparent;
        }
    }
}

.filter{
    display: grid;
    gap: 32px;
    position: relative;
    &__item{
        margin: 0;
    }
    &__title, &__label{
        font-weight: 600;
        font-size: 16px;
        line-height: 140%;
        color: $own-color;
        margin-bottom: 16px;
        display: block;
    }

    &__input{
        display: block;
        width: 100%;
        height: 56px;
        background: #F1F4F6;
        border-radius: 5px;
        border: none;
        padding: 16px;
        font-weight: 400;
        font-size: 16px;
    }

    &__col-2{
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 12px;
    }

    &__checkbox{
        display: grid;
        gap: 12px;
        &-container{
            display: flex;
        }
        &-input {
            width: 1px;
            height: 1px;
            visibility: hidden;
            opacity: 0;
            display: none;

            + label {
                font-size: 14px;
                line-height: 140%;
                color: $second-color;
                position: relative;
                cursor: pointer;
                display: flex;
                
                &::before{
                    background: #F1F4F6 url(./../img/check.svg) no-repeat center;
                    border-radius: 5px;
                    height: 20px;
                    width: 20px;
                    display: block;
                    margin-right: 8px;
                    transition: .2s;
                    cursor: pointer;
                    content: "";
                    position: relative;
                }
            }
            &:checked + label::before{
                background-color: $primary-color;
            }
        }

    }
    &__properties{
        &-list{
            display: grid;
            gap: 12px;

        }
        &-item{
            &:not(:last-child){
                margin: 0;
            }
        }
    }

    &__inner{
        margin: 0;
    }
    
    &__checkgroup{
        input{ 
            display: none;
        }
        &-check{
            background: #F1F4F6 url(./../img/check.svg) no-repeat center !important;
            border-radius: 5px;
            height: 20px !important;
            width: 20px !important;
            display: block !important;
            margin-right: 8px;
            border: none;
            box-shadow: none;
            transition: .2s;
            cursor: pointer;
            position: relative;

            &::before{
                visibility: hidden;
            }

        }
        &-control:checked + &-check{
            background-color: $primary-color !important;
        }

        &-title{
            font-weight: 400;
            font-size: 14px;
            line-height: 140%;
            padding: 0;
            padding-left: 8px;
            color: $second-color;
        }

        &-aside{
            position: relative;
            font-size: 12px;
            padding-left: 3px;
        }
    }
    &__slider-control{
        display: block;
        width: 100%;
        height: 56px;
        background: #F1F4F6;
        border-radius: 5px;
        border: none;
        padding: 16px;
        font-weight: 400;
        font-size: 16px;
        text-align: left;

        &-column{
            padding: 0;
            width: 100%;
        }

        &-group{
            margin: 0;
            display: grid;
            grid-template-columns: 1fr 1fr;
            gap: 12px;
            margin-bottom: 15px;
        }
    }
}

.pc-range-slider{
    &__control{
        background: #E6E6E6;
        border-radius: 100px;
        border: none;

        .ui-slider-range{
            background: #D2170D;
            border-radius: 100px;
            height: 3px;
        }

        .ui-slider-handle{
            width: 20px !important;
            height: 20px !important;
            background: #D2170D;
            border: 1px solid #FFFFFF;
            border-radius: 100px;
        }
    }
}


.form-group{
    display: grid;
    gap: 12px;
    &_col-3{
        grid-template-columns: repeat(3, 1fr);

        @media (max-width: 1024px){
            grid-template-columns: 1fr;
        }
    }
}
.placeholder-container{
    position: relative;
}
.input-main{
    height: 56px;
    width: 100%;
    padding: 28px 16px 16px;
    background: #F1F4F6;
    border-radius: 5px;
    border: 1px solid transparent;
    font-size: 16px;
    transition: .2s;
    position: relative;

    &:hover{
        border: 1px solid #D2170D;
        box-shadow: 0px 0px 0px 0px rgba(210, 23, 13, 0.3);
    }
    &:focus{
        background: #FFFFFF;
        border: 1px solid #D2170D;
        box-shadow: 0px 0px 0px 2px rgba(210, 23, 13, 0.3);
    }
    &:active{
        border: 1px solid #D2170D;
        box-shadow: 0px 0px 0px 0px rgba(210, 23, 13, 0.3);
        background: #fff;
    }
    &_error{
        background: rgba(210, 23, 13, 0.3);
        border: 1px solid #D2170D;

        + label{
            color: $primary-color !important;
        }
    }

    & + label{
        font-size: 14px;
        line-height: 24px;
        color: $second-color;
        pointer-events: none;
        position: absolute;
        transition: all 200ms;
        top: 16px;
        left: 16px;
        z-index: 3;
    }
    &:focus + label{
        top: 7px;
        font-size: 12px;
        line-height: 18px;
        color: $primary-color;
    }
    &:not(:placeholder-shown) + label{
        top: 7px;
        font-size: 12px;
        line-height: 18px;
        color: rgba(82, 108, 130, 0.8);
    }
    &:focus:not(:placeholder-shown) + label{
        top: 7px;
        font-size: 12px;
        line-height: 18px;
        color: $primary-color;
    }
}

.form-btn{
    display: grid;
    justify-content: center;
    text-align: center;
    gap: 6px;

    p{
        font-weight: 300;
        font-size: 10px;
        line-height: 10px;
        text-align: center;
        color: $own-color;
        opacity: 0.3;
        
        a{
            color: $primary-color;
            text-decoration: underline;
        }
    }
}
