.seo-text {
	padding: 0 0 68px;
	position: relative;
	&__category{
		margin: 0;
		padding: 0;
	}
	h1 {
		line-height: 130%;
		color: $own-color;
		margin-bottom: 24px;
		font-weight: 600;
        font-size: 36px;

		@media (max-width: 768px){
			font-size: 28px;
		}
	}
	h2 {
		line-height: 140%;
		color: $own-color;
		margin-bottom: 24px;
		font-weight: 600;
        font-size: 32px;
		@media (max-width: 768px){
			font-size: 24px;
		}
    }
	h3 {
		font-weight: 600;
		line-height: 130%;
		color: $own-color;
		margin-bottom: 24px;
		font-size: 22px;
		@media (max-width: 768px){
			font-size: 26px;
		}
	}
	h4 {
		font-weight: 600;
		line-height: 130%;
		color: $own-color;
		margin-bottom: 24px;
		font-size: 18px;
	}
	h5 {
		font-weight: 600;
		line-height: 130%;
		color: $own-color;
		margin-bottom: 24px;
		font-size: 18px;
		margin-bottom: 12px;
	}
	// ul {
	// 	gap: 12px;
	// 	display: grid;
	// 	margin-bottom: 24px;
	// 	li {
	// 		position: relative;
	// 		display: flex;
	// 		align-items: center;
	// 		font-weight: 400;
	// 		font-size: 18px;
	// 		line-height: 130%;
	// 		color: #273B6A;
	// 		&::before {
	// 			position: relative;
	// 			display: flex;
	// 			background: url(../img/svg/li.svg) no-repeat center;
	// 			width: 16px;
	// 			height: 12px;
	// 			content: "";
	// 			margin-right: 16px;
	// 			flex-shrink: 0;
	// 		}
	// 	}
	// }
	ol {
		list-style-type: none;
		counter-reset: num;
		gap: 12px;
		display: grid;
		margin-bottom: 24px;
		padding: 0;
		padding-inline-start: 20px;
		li {
			position: relative;
			display: flex;
			align-items: center;
			font-weight: 400;
			font-size: 18px;
			line-height: 130%;
			color: #273B6A;
			&:before {
				content: counter(num) '.';
				counter-increment: num;
				display: inline-block;
				position: absolute;
				top: 0px;
				left: -26px;
				font-weight: 700;
				width: 20px;
				color: #273B6A;
				text-align: right;
			}
		}
	}
	p {
		font-weight: 400;
		font-size: 16px;
        line-height: 140%;
		color: $second-color;
		margin-bottom: 24px;

		&:last-child{
			margin-bottom: 0;
		}
	}
	strong {
		font-weight: 700;
	}
	img {
		max-width: 100%;
	}

    &__visible{
        position: relative;
        transition: .2s;
        max-height: 3000px;
        &_off{
            overflow: hidden;
            max-height: 200px;
            cursor: pointer;
            transition: .2s;
            transition: max-height 200ms;
		    will-change: max-height;
            &:after{
                position: absolute;
                background: linear-gradient(0deg, #FDFDFD 3.8%, rgba(253, 253, 253, 0) 100%);
                content: "";
                z-index: 3;
                display: block;
                left: 0;
                top: 0;
                width: 100%;
                height: 100%;
            }
            &::before{
                position: absolute;
                bottom: 0;
                left: 0;
                right: 0;
                width: 30px;
                height: 30px;
                content: "";
                background: url(./../img/chevron-down.svg) no-repeat center;
                background-size: contain;
                z-index: 4;
                margin: 0 auto;
                transition: .2s;
            }
            &:hover::before{
                background-position-y: 5px;
            }
        }
    }

	&__feature{
        margin-top: 30px;
        &-title{
            span{
                font-weight: 400;
                font-size: 16px;
                line-height: 21px;
                letter-spacing: 0.09em;
                color: $own-color;
                padding-right: 20px;
                text-transform: uppercase;
                position: relative;

                &::after{
                    position: absolute;
                    content: "";
                    width: 200vh;
                    left: 100%;
                    top: 10px;
                    pointer-events: none;
                    background: rgba(255, 255, 255, 0.4);
                    height: 1px;
                }
            }
        }

        &-grid {
            display: grid;
            grid-template-columns: repeat(3, 1fr);
            gap: 30px;
            margin-top: 42px;

			@media (max-width: 768px){
				grid-template-columns: 1fr;
			}
        }

        &-item{
            display: flex;
            flex-direction: column;
            gap: 6px;
        }
        
        &-count{
            color: $own-color;
            font-size: 52px;
            @include font-main;
            line-height: 67px;
            font-weight: 700;
        }

        &-desc {
            @include font-main;
            font-size: 16px;
            line-height: 21px;
            letter-spacing: 0.09em;
            text-transform: uppercase;
            color: $own-color;
        }
    }
}